body{
	background-color: #212738;
}

#ability1, #ability2, #ability3, #ability4, #cooldown1, #cooldown2, #cooldown3, #cooldown4{
	display: inline;
	height:50px;
	width: 50px;
}

#talk{
	height:50px;
	width:50px;
}

#talkText{
	font-family: Verdana;
}

#background{
	margin:auto;
	border:5px solid black;
	position: absolute;
	background-color: #361F5E;
}

#gameGraph{
  font-family:'Courier';
  height: 180px;
  width:97px;
  display: inline-block;
  background-color: #66658A;
  overflow:hidden;
  
}

#skills{
	font-family:'Courier';
	text-align: center;
	background-color: #6AB4CC;
	width:480px;
}

#abilities{
	background-color: #528FA3;
}

#stats{
	font-family:'Courier';
	text-align: center;
	overflow: hidden;
	background-color: #679C99;
	display: inline-block;
	height:180px;
	width:180px;
}
#buffs{
	font-family:'Courier';
	text-align: center;
	overflow: hidden;
	background-color: #3168B5;
	display: inline-block;
	height:180px;
	width:195px;
}
#statusScreen{
	margin:auto;
	font-family:'Courier';
	text-align: center;
	overflow: hidden;
	background-color: #235E36;
	height:240px;
	width: 250px;
}

#history{
	background-color:#989987;
	font-family:'Courier';
	overflow: auto;
	height:300px;
	width: 481px;
}

#combat{
	background-color:#F7A44A;
}
#combatWound{
	background-color:#F7F307;
}
#combatBreak{
	background-color:#F51111;
}
#combatMiss{
	background-color:#B2DDEB;
}